[submodule "externals/catch"]
	path = externals/catch
	url = https://github.com/philsquared/Catch.git
[submodule "externals/origin"]
	path = externals/origin
	url = https://github.com/asutton/origin.git
[submodule "externals/eggs_variant"]
	path = externals/eggs_variant
	url = https://github.com/eggs-cpp/variant.git
[submodule "externals/cereal"]
	path = externals/cereal
	url = https://github.com/USCiLab/cereal.git
